@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');




.main_text{
    
    text-align: center;
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    position: relative;
    bottom: 10px;
    color: white;
      
      
}

body{
    background-image: url("../img/image19.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.strong{
    width: 89px;
    position: relative;
    
    left:80px;
}

.text_strong{
    text-align: center;
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    position: relative;
    right: 50px;
    color:white;
    
}

.name_pers{
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 27px;

}